
$mainBackColor: #120F23;
$defaultTitleColor: #94AEBF;

$ctaTextColor: #B6FDBF;

$validColor: #B6FDBF;
$actionColor: #ED1F34;

$defaultBorderColor: #D8D8D8;
$controlsForeColor: #17103F;
$textColor: #888888;